@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
	font-family: "Noto Sans TC", "微軟正黑體", Sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}

html, body, #root{
	height: 100%;
	overflow: hidden;
	margin: 0%;
}

#root{
	background-color: black;
}

.orientation{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: azure;
	z-index: 21;
}

.orientation span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5vw;
	font-weight: bold;
}

.square::before{
	display: inline-block;
	margin-top: 100%;
	content: "";
	width: 0%;
}

::-webkit-scrollbar{
	width: 0px;
	height: 12px;
}
/*
::-webkit-scrollbar-track-piece{
	background-color: transparent;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb{
	height: 12px;
	background-color: transparent;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
	background-color: transparent;
}
*/
@media (orientation: portrait){
	.orientation{
		display: block;
	}
}
@media ( orientation: landscape){
	.orientation{
		display: none;
	} 
}